<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
	<script src="./node_modules/vue/dist/vue.js"></script>
	<script src="./node_modules/jquery/dist/jquery.js"></script>
</head>
<body>
	<div id="rooms">
			<roomlist-room
				v-for="item in rooms"
      			v-bind:name="item.name"
      			v-bind:id="item.id"
			>
			</roomlist-room>
	  <input v-model="roomName">
	  <button v-on:click="createRoom">Create Room</button>
	</div>
	<div id="users">
	  <li v-for="user in users">
	  	{{ user.name }}
	  </li>
	</div>
	<div id="messages">
		<li v-for="message in messages">
			{{message.create_date}}
			{{message.message}}
		</li>
	</div>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>